html {

    background: linear-gradient(linear-gradient, rgb(247, 247, 247),white);
}
#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 100%;
    background-color: #307F97;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    color: #307F97;
    clear: both;
    text-align: center;
}

body {
    font-family: 'Nunito', sans-serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-size: 18px;
    width: 100%;
    margin: auto;
    line-height: 1.8;

    /* making footer main and header work together */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

strong {
    color: red;
    text-shadow: 1px 1px 1px black;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    text-shadow: 1px 1px 1px purple;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: .2em;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: auto;
}

p {
    margin-bottom: 1em;
}

h1 a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: #307F97;
}

a:hover {
    color: darkblue;
}

.center {
    text-align: center;
}

/* Homepage */
.home {
    z-index: 2;
    width: 90%;
    margin: auto;
    text-align: center;
}
.home .logo img {
    height: 400px;
}

.home h1 {
    font-size: 3em;
    text-align: center;
    padding: 1em;
}
.home h2 {
    text-align: center;
    font-style: italic;
}
.home h3 {
    margin: auto;
    padding-top: 10px;
    clear: both;
    padding: 10px 10px 200px 10px;
}
.home input {
    color: grey;
    padding-left: 20px;
}
.home .info {
    position: fixed;
    top: 20px;
    right: 20px;
}
.home .info img{
    height: 30px;
}
.home .info .tooltiptext {
    visibility: hidden;
    width: 800px;
    background-color: #307F97;
    z-index: 1;
    color: white;
    border: none;
    
    position: fixed;
    top: 0;
    right: 240px;
    padding: 100px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 2s;
}
.home .info:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.positioned {
  position: fixed;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -20%);
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.bottomed {
    position: fixed;
    bottom: 0;
}
 /* Search results page */
.sresultsHeader {
    height: 114px;
    background-color: #307F97;
    display: flex; 
    justify-content: space-between;
}
.sresultsHeader img{
    height: 170px;
    margin-top: 14px; 
    margin-left: 30px; 
}
.sresultsHeader form{
    margin-top: 50px;
}
.sresultsHeader input{ 
    color:white;
}
.sresultsHeader ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(214, 219, 219,0.8);
}
.sresultsHeader ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(214, 219, 219,0.8);
}
.sresultsHeader :-ms-input-placeholder { /* IE 10+ */
    color: rgba(214, 219, 219,0.8);
}
.sresultsHeader :-moz-placeholder { /* Firefox 18- */
    color: rgba(214, 219, 219,0.8);
}

.sresultsMain {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(219,233,236); 
    padding: 10px 30px;
    border-radius: 5px;
    color: #307F97;
}
.sresultsMain h3{
    font-style: italic;
    color: grey;
    text-align: right;
}
.sresultsMain ul {
    list-style-type: none;
}
.sresultsMain li{
  margin: 10px 0;
  margin-left: 20px;
}
.sresultsMain a:hover {
    color: #4ec4e8;
}

.sresultsFooter {
    width: 100%;
    height: 100px;
    background-color: #307F97;
}
.sresultsFooter .pluginInfo p{
    color: lightgrey;
}
.sresultsFooter .pluginInfo a{
    color: lightgrey;
    text-decoration: underline;
}
/* Plugin info */
.pluginInfo {
    position: fixed;
    bottom: 0;
    right: 20px;
}
.pluginInfo p{
    text-align: center;
    color: #79888D;
}
.pluginInfo a {
    text-decoration: underline;
    color: #79888D;
}

/* Statement Moving Header */

.statementHeader {
    background-color: #307F97;
    height: 60px;
    position: fixed;
    display: flex;
    width: 100%;
    box-shadow: 0px 34px 122px -4px rgba(0,0,0,0.41);
    z-index: 3;
}
.statementHeader img{
    margin-top: 20px;
    margin-left: 40px;
    height: 80px;
}
.statementHeader form{
    margin-left: 850px;
}
.statementHeader ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(214, 219, 219,0.8);
}
.statementHeader ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(214, 219, 219,0.8);
}
.statementHeader :-ms-input-placeholder { /* IE 10+ */
  color: rgba(214, 219, 219,0.8);
}
.statementHeader :-moz-placeholder { /* Firefox 18- */
  color: rgba(214, 219, 219,0.8);
}

.statementMain {
    display: flex;
    width: 1400px;
}
.mainAside {
    height: 550px;
    width: 160px;
    background-color: #307F97;
}
.mainAside p {
    margin-top: 30px;
    font-size: 17px;
    font-style: italic;
    line-height: 15px;
    color: lightgrey;
}
.mainAside a {
    color: lightgrey;
    text-decoration: underline;
}
.statementMain .mainAside img {
    margin-top: 100px;
    margin-left: 5px; 
    width: 150px;
}
.mainContent {
    margin-left: 100px;
    margin-top: 100px;
    width: 800px;
}

/* search bar */
/* Form wrapper styling */

.searchWrapper {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

/* Form text input */
.searchWrapper input {
    width: 500px;
    height: 40px;
    color: white;
    font-size: 18px;
    border: none;
    background: transparent;
    border-radius: 5px;
    overflow: scroll;
    padding: 0 10px; 
}
.home input {
    color: grey;
    padding-left: 20px;
}
.searchWrapper input:focus {
    outline: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2) inset;
}

/* Card */

.card {
    /*margin: 20px 10px auto;*/
    border-radius: 3px;
    background-color: #307F97;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
    width: 800px;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p{
    color: white;
}

/* Decision */

.decision {
   
}
.decision img{
    height: 220px;
    margin-top: -50px;
    margin-left: -50px;
    float: left;
    vertical-align: top;
}
.decision .text{
    display:inline-block;
    width: 500px;
    margin-left: 15px;
    margin-top: 50px; 
    padding:0;
}
.smiles {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    /*padding: 20px 0px 20px 20px;*/
}
.smiles div{
    background-color: rgb(28,79,103);
    padding-left: 56px;
    padding-right: 56px;
}
.smiles img {
    height: 50px;
    margin: 10px 0;
}
#smiles0 #smile0 {
    background-color: transparent;
}
#smiles0 #smile0 img{
    opacity: 0;
}
#smiles1 #smile1 {
    background-color: transparent;
}
#smiles1 #smile1 img{
    opacity: 0;
}
#smiles2 #smile2 {
    background-color: transparent;
}
#smiles2 #smile2 img{
    opacity: 0;
}
#smiles3 #smile3 {
    background-color: transparent;
}
#smiles3 #smile3 img{
    opacity: 0;
}
#smiles4 #smile4 {
    background-color: transparent;
}
#smiles4 #smile4 img{
    opacity: 0;
}
/* Opinion card */
/* Progress Bars */

.opinion progress {
    width: 100%;
    height: 40px;
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 20px 30px 0  30px;
}
/* Reset the default appearance */
.opinion progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.opinion progress:not([value]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 
.opinion progress::-webkit-progress-bar {
    background: rgb(147, 24, 29);
    border-radius: 100px;
}

.opinion progress::-webkit-progress-value {
    background-color: rgb(98,247,207);
    border-radius: 20px;
}

/**/
.voting {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
}
.voting button {
    height: 40px;
    width: 100px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 10px 10px;
    font-size: 18px;
    color:  #307F97;
}
.voting #true {
    background-color: rgb(98,247,207);
}
.voting #fake {
    background-color: rgb(147, 24, 29);
}
.voting button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    outline: none;
}


/* Additional info with subsections */
.addContent {
    background-color: lightblue;
    display: flex;
    width: 1400px;
}
.addContent .tab {
    background-color: #307F97;
    text-align: right;
    width: 160px;
}

/* Style the buttons inside the tab */
.addContent .tab button {
    float: right;
    display: block;
    background-color: rgb(28,79,103);
    padding: 22px 16px;
    width: 120px;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    font-size: 18px;
    color: lightgray;
}

/* Change background color of buttons on hover */
.addContent .tab button:hover {
    background-color: lightblue;
    color: #307F97;
}

/* Create an active/current "tab button" class */
.addContent .tab button.active {
    background-color: lightblue;
    color: #307F97;
}

/* Style the tab content */
.addContent .tabcontent {
    min-height: 300px;
    background-color: lightblue;
}

/* Tweet card */
.tweet {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 10px 0 10px 100px;
    width: 800px;
    min-height: 65px;
    display:flex;
    flex-flow: row;
    background-color: white;
    border-top: 1px ridge lightgray; 
    border-bottom: 1px ridge lightgray;    
    border-width: 1px;
}
.tweet i{
        cursor: pointer;
}
.tweet_image {
    width: 48px;
    height: 48px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.tweet_right {
    margin-left: 5px;
    display:flex;
    width: 700px;
    flex-flow: column;
    padding-right: 5px;
}
.tweet_right p {
   text-align: left;
   margin: 8px 0 0 5px;
}
.tweet_screen_name a {
    font-weight: bold;
    text-align:left;
    color:black;
    text-decoration: none;
}
.tweet_screen_name a:hover {
    text-decoration: underline;
}
.tweet_name {
    font-weight: bold;
    color: rgb(101, 119, 134);
}
.tweet_date {
    color: #657786;
    text-decoration: none;
}
.tweet_text {
    text-align: left;
    font-size: 100%;
    color: rgb(51, 51, 51);
}
.tweet_text a {
    text-decoration: none;
}

.tweet_text a:hover {
    text-decoration: underline;
}

.tweet_reactions{
    text-align: justify; 
    color: rgb(170, 184, 194);
} 

/* Popup container - can be anything you want */
.explanationPopup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popuptext {
    visibility: hidden;
    background-color: #307F97;
    color: white;
    font-size: 16px;
    width: 200px;
    margin: 9px 5px;
    padding-right:5px;    
    text-align: left;
    position: relative;
    z-index: 1;
}
.popuptext li{
    list-style-type: circle;
}


/* Toggle this class - hide and show the popup */
.explanationPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Grids */

.band {
    width: 800px;
    max-width: 1240px;
    margin: 10px 0 10px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    z-index: 2;
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* card */

.poster {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.poster:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.poster article {
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.poster .thumb {
    min-height: 100px;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.poster p {
    flex: 1;
    /* make p grow to fill available space*/
    line-height: 1.4;
}


/* typography */

.poster h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.poster span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

/* Comment box styles */

#HCB_comment_box h3 {
    display: none;
}

#HCB_comment_box textarea {}

#HCB_comment_box {
    margin: 10px 0 10px 100px;
    width: 800px;
    font-size: 18px;
}
#HCB_comment_box .comment{
    color: #307F97;
}
#HCB_comment_box textarea{
    color: #307F97;
}
#HCB_comment_box #hcb_submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:#307F97;
    color: white;
    text-decoration: none;
}
#HCB_comment_box .hcb-icon {
    display: none;
}