{% extends "base.html" %} {% block content %}
<div id="background"></div>
<article class="home">
    <div class="positioned">
    <section class="logo">
        {% load static %}
        <a href="{% url 'index' %}"><img src='{% static "_img/justweetleague.png" %}' ></a>
    </section>
    <section>
        <form action="{% url 'search' %}" class="searchWrapper" method="GET">
            {% csrf_token %} {{ form }}
            <input name="q" type="text" placeholder="Type a one word theme to get related statements">
            <!--<button type="submit"> Search </button>-->
        </form>
    </section>
    </div>
    <section class="pluginInfo">
        <!--<h3><strong>Warning</strong>: The information provided is not 100% correct </h3>-->
        <p>Don't have our plugin yet?
            <br> Download it <a href="{% url 'index' %}">here</a>!</p>
    </section>
    <section class="info">
        <img src='{% static "_img/info.png" %}'>
        <div class="tooltip">
            <p class="tooltiptext">
            <b style="font-size: 1.2em">ABOUT US</b><br>
            In the era of exploding information people are constantly surrounded with statements that may be extraordinary claims, shocking news or contradicting explanations. Then the question arises: who should you trust? This is where The Justweet League comes in! We are a team of 6 students who bravely took on the challenge of trying to predict trustworthiness of tweets (our plugin) and also use them to evaluate how reliable a given statement is (searchbar on website).
            <br>
            <b>SEARCH BAR</b><br>
            We try our best to give you a prediction of whether a given statement or piece of news is trustworthy or not based on the tweets related to the statement. We look at the tweets relevant to the statement, how many tweets are against the statements and how many are agreeing with it. Also, we include related news from other news outlets as a factor. Based such a voting procedure we give our opinion on the trustworthiness of a statement.
            <br>
            <b>PLUGIN</b><br>
            We have also developed a plugin where we give our calculated opinion on the trustworthiness of a tweet. We rate the tweet you give us on a scale from 1 to 5, 1 being the least trustworthy and 5 being the most trustworthy. The points are allocated with consideration of the following factors: lack of support (user is likely to be a bot, the statement is not mentioned elsewhere and the user has few followers himself), lack of seriousness (checking the spelling of the tweet), actual opposition (a lot of tweets contradicting the original tweet, possibly with negative sentiment), worrisome viral effect (the tweet has spread far and fast, people start believing it because of its popularity, or massively reacting to it with negative sentiment).
            </p>
        </div>
    </section>
</article>

{% endblock content %}
