{% extends "base.html" %} {% block content %} {% load static %}
<header class= "sresultsHeader" role=“banner”>
    <section>
        <a href="{% url 'index' %}"><img src='{% static "_img/justweetleagueAlignBG.png" %}'></a>
    </section>
    <section>
        <form action="{% url 'search' %}" class="searchWrapper" method="GET">
            {% csrf_token %} {{ form }}
            <input type="text" name="q" placeholder="Type a statement you would like to verify...">
        </form>
    </section>
</header>
<main class = 'centered sresultsMain' role=“main”>
        <h2>Found {{items.count}} results for <b>"{{ message }}"</b></h2>
        <section>
            <ul>
                {% for stat in items %}
                <li>
                    <a href="{% url 'statement' stat.id %}" title="statement">{{ stat.title | capfirst}}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <h3>{{items.count}} related statements</h3>
</main>
<footer class= "bottomed sresultsFooter">
    <section class="pluginInfo">
        <p>Don't have our plugin yet?
            <br> Download it <a href="{% url 'index' %}">here</a>!</p>
    </section>
</footer>
{% endblock content %}
