{% extends "base.html" %} {% block content %}
<header role=“banner”>
    <h1><a href="{% url 'index' %}">Check fake news</a></h1>
</header>
<main role=“main”>
{% load staticfiles %}
    <article class="content">
        <section>
            <form action="{% url 'search' %}" class="searchWrapper" method="POST">
                {% csrf_token %} {{ form }}
                <input type="text" placeholder="Statement / hashtag / theme">
                <button type="submit"> Search </button>
            </form>
        </section>
        <section>
            <h3>({{items.count}} related statements found)</h3>
            <ul>
                {% for stat in items %}
                <li>
                    <a href="{% url 'statement' stat.id %}" title="statement">{{ stat.title | capfirst}}
                            </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</main>
{% endblock content %}
