{% extends "base.html" %} {% block content %}
{% load static %}{% load website_extras %}
<header class="statementHeader" role=“banner”>
        {% with "_img/justweetleague"|addstr:item.fakeness|addstr:".png" as imagePath %}
        <a href="{% url 'index' %}"><img src={% static imagePath %}></a>
        {%endwith%}
    <form method="GET" action="{% url 'search' %}" class="searchWrapper">
        {% csrf_token %} {{ form }}
        <input name="q" type="text" placeholder="Type a statement you would like to verify...">
    </form>
</header>
<main class = "statementMain" role=“main”>
    <div class="mainAside">
        <img src='{% static "_img/justweet.png" %}'>
        <section>
            <p>Don't have our plugin yet?
            <br> Download it <a href="{% url 'index' %}">here</a>!</p>
        </section>
    </div>
    <div class="mainContent">
        <!-- If comming from plugin output tweet it cam from on the top -->
        <div>
            {% if item.fakeness == -1 %}
            <section class="card tweet"> 
                <p>Text of tweet - by whom</p>
            </section>
            {% endif %}
        </div>
        <!-- Our decision if the statement is fake or true -->
        <div class="decision">
            <section class="card">
            {% with i=item.fakeness %}
                {% with "_img/smilesC"|addstr:i|addstr:".png" as imagePlace %}
                <img src='{% static imagePlace %}'>
                {% endwith %}
                <div class="text">
                    <h3>{{item.title}}</h3>
                    <p> {{ decisions|index:i }}</p>
                </div>
                    {% with "smiles"|addstr:i as idName %}
                <div class="smiles" id={{idName}}>
                    <div id="smile0"><img src="{% static '_img/smilesBW0.png' %}"></div>
                    <div id="smile1"><img src="{% static '_img/smilesBW1.png' %}"></div>
                    <div id="smile2"><img src="{% static '_img/smilesBW2.png' %}"></div>
                    <div id="smile3"><img src="{% static '_img/smilesBW3.png' %}"></div>
                    <div id="smile4"><img src="{% static '_img/smilesBW4.png' %}"></div>
                </div>
                    {%endwith%}
                {%endwith%}
            </section>
        </div>
        <div class="opinion" id="refresh-this-div">
        <section class="card">
        {% with item.usersvoteFake|add:item.usersvoteTrue as tVote %}
            {% if tVote > 0 %}
                    <progress id ="progress" value="{{item.usersvoteTrue}}" max="{{tVote}}"></progress>
                    <p><span id="fakeVote" >{{ item.usersvoteFake }}</span> out of <span id="totalVote">{{ tVote }}</span> people believe this news is fake</p>
            {% else %}
                <p id = "noVotesP"> No users have yet voted. </p>
                <div id="votingCounted" style="display: none">
                    <progress id ="progressHidden" value="0" max="1"></progress>
                    <p><span id="fakeVote" ></span> out of <span id="totalVote"></span> people believe this news is fake</p>
                </div>
            {% endif %}  
                <div class="voting">
                    <p> Vote: </p>
                    <button id="true">TRUE</button>
                    <button id="fake">FAKE</button>
                </div>
        {% endwith %}        
        </section>
        </div>
    </div>
</main>
<div class="addContent">
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'Related Tweets')">Related Tweets</button>
            <button class="tablinks" onclick="openTab(event, 'Relevant Articles')">Relevant Articles</button>
            <button class="tablinks" onclick="openTab(event, 'Comments')">Comments</button>
        </div>
        <section>
            <!-- Related Tweets -->
            <div id="Related Tweets" class="tabcontent">                        
                {% with "x"|rjust:"5" as range %}
                    {% for _ in range %}
                        <div class="tweet">
                        {% load static %}
                        <div class="tweet_image"> <img src='{% static '_img/tweet.jpg' %}'"> </div>
                        <div class="tweet_right">
                            <p> 
                                <span class="tweet_screen_name"><a href=""> Name{{ tweet.name }}</a></span> 
                                <span class="tweet_name">@tweet_name</span> ∙
                                <span class="tweet_date"> time {{ tweet.date}}</span>
                            </p>
                            <div class="tweet_text"> Obama was a Complete Failure and The #FakeNews Media Covered for him, just like they do for All Democrats #WakeUpAmerica #MAGA {{ tweet.body }}</div>
                            <p class="tweet_reactions"> <i class="fa fa-reply" aria-hidden="true"></i> 30 {{ tweet.reply }} 
                                <i class="fa fa-retweet" aria-hidden="true"></i> 30 {{ tweet.retweet }} 
                                <i class="fa fa-heart" aria-hidden="true"></i> 100 {{ tweet.like }}
                            </p>
                        </div>
                        {%  with forloop.counter|add:"-1" as trust %}
                        {%  if trust == 4 %}
                            <i class="material-icons" style="color: #e73925 ">fiber_manual_record</i>
                        {% elif trust == 3 %}
                            <i class="material-icons" style="color: #f29b2a ">fiber_manual_record</i>
                        {% elif trust == 2 %}
                            <i class="material-icons" style="color: #fff829 ">fiber_manual_record</i>
                        {% elif trust == 1 %}
                            <i class="material-icons" style="color: #7cf415 ">fiber_manual_record</i>
                        {% elif trust == 0 %}
                            <i class="material-icons" style="color: #00ffd8 ">fiber_manual_record</i>
                        {% endif %}
                        {% endwith %}
                    </div>
                    {% endfor %}
                {% endwith %}
            </div> 
            <!-- Relevant Articles -->
            <div id="Relevant Articles" class="tabcontent">
                <!-- Cards container -->
                <div class="band">
                    <!-- grid item, containing a card -->
                    <div class="item-1">
                        <a href="http://www.bbc.co.uk/news" target="_blank" class="poster">
                            {% load static %}
                            <div class="thumb" style="background-image: url(http://www.bbc.co.uk/news/special/2015/newsspec_10857/bbc_news_logo.png);"></div>
                            <article>
                                <h2>BBC news outlet</h2>
                                <span>BBC news</span>
                            </article>
                        </a>
                    </div>
                    <!-- grid item, containing a card -->
                    <div class="item-2">
                        <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045" class="poster">
                            <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
                            <article>
                                <h2>How to Conduct Remote Usability Testing</h2>
                                <span>Harry Brignull</span>
                            </article>
                        </a>
                    </div>
                </div>
                <!-- ______________________ -->
            </div>
            <!-- Comments -->
            <div id="Comments" class="tabcontent">

            <!-- begin wwww.htmlcommentbox.com -->
            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
            <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
            <script type="text/javascript" id="hcb"> 
            /*<!--*/ 
            if (!window.hcb_user){
                hcb_user={};
            } (function(){
                var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";
                s.setAttribute("type","text/javascript");
                s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1493395617865");
                if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);
            })();
             /*-->*/ 
            </script>
            <!-- end www.htmlcommentbox.com -->
            </div>
        </section>
</div>
<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

    /* Updating */
    var trueV = document.getElementById('true');
    var fakeV = document.getElementById('fake');
    var progress = document.getElementById('progress');
    var progressHidden = document.getElementById('progressHidden');
    var voting = document.getElementsByClassName("voting")[0];
    var votingProgress = document.getElementById('votingProgress');
    var votingCounted = document.getElementById('votingCounted');
    var noVotesP= document.getElementById('noVotesP');
    /* does not wotk if there is no voting yet */
    /*TO DO*/
    trueV.onclick = function() {
        var trueVote = 0;
        if (progress == null ){
            trueVote = 1;
            voting.style.display = "none";
            noVotesP.style.display = "none";
            votingCounted.style.display ="block";
            progressHidden.value += 1;
            document.getElementById('fakeVote').innerHTML  = 0;
            document.getElementById('totalVote').innerHTML = 1;
        }
        else {
            progress.value += 1;
            progress.max   += 1;
            trueVote = progress.value;
            document.getElementById('fakeVote').innerHTML  = progress.max - progress.value;
            document.getElementById('totalVote').innerHTML = progress.max;
            voting.style.display = "none";
        }
        $.ajax({
                url: '{% url "update_tVotes" %}',
                type: "GET",
                dataType: 'json',
                data: {
                    'trueVote' : trueVote,
                    'statementID': {{ item.id }}
                },
                error: function(data) {
                    // grab the inner html of the returned div 
                    // so you don't nest a new div#refresh-this-div on every call
                    var html = $(data).filter('#refresh-this-div').html();
                    console.log(html);
                    $('#refresh-this-div').html(html);
                }
        });
    }
    fakeV.onclick = function() {
        var fakeCount = 0;
        if (progress == null) {
            fakeCount = 1;
            voting.style.display = "none";
            noVotesP.style.display = "none";
            votingCounted.style.display ="block";
            document.getElementById('fakeVote').innerHTML  = 1;
            document.getElementById('totalVote').innerHTML = 1;
        }
        else {
            progress.max += 1;
            fakeCount = progress.max - progress.value;
            document.getElementById('fakeVote').innerHTML  = fakeCount;
            document.getElementById('totalVote').innerHTML = progress.max;
            voting.style.display = "none";
        }
        $.ajax({
                url: '{% url "update_fVotes" %}',
                type: "GET",
                dataType: 'json',
                data: {
                    'fakeVote' : fakeCount,
                    'statementID': {{ item.id }}
                }
        });
    }
</script>

{% endblock content %}
